
:root {
    --color-a: rgba(2, 110, 26, 0.795);
}

* {
    margin: 0;
    padding: 0;
}

.main-body {
    background-color: var(--color-a);

}

.page-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5rem;
    text-decoration: underline;
    background-image: url(../images/Header_Image/River_01a.jpg);
    margin-top: 65px;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 15px;
    margin-left: 5px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-style: italic; 
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020;
}

.header-nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: white;
}

.header-menu-item a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

.header-menu-item a:hover {
    color: red;
}

.logo:hover {
    color: rgb(238, 255, 0);
}

.p-header {
    display: flex inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 0 0 50px 5px rgb(0, 0, 0);
    text-shadow: 0 0 10px black;
}

.custom-carousel {
    width: 75rem;
    margin: auto;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.park-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 0 0 10px black;
}

.park-info {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 5px;
    
}